button{
    padding: 1em 3em;
    border: none;
}
button:hover{
    background: rebeccapurple;
    a{
        color: whitesmoke;
    }
}
button a{
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}
