footer{
    //background: rgb(27, 27, 134);
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    .logo-footer{
        color: whitesmoke;
        border: 0.3em solid white;
        padding: 0.5em;
    }
    .contact-links{
        display: flex;
        list-style: none;
        li{
            padding: 1em;
            a{
                text-decoration: none;
                color: whitesmoke;
            }
            a:hover{
                color: rebeccapurple;
            }
        }
    }
    .copyrighter{
        color: whitesmoke;
    }

}