nav{
    background: rgb(27, 27, 134);
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo{
        color: whitesmoke;
    }
    .nav-links ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        li{
            padding: 1em;
            a{
                text-decoration: none;
                color: whitesmoke;
            }
        }
    }

    // Burger logo 
    .burger .line{
        width: 30px;
        height: 3px;
        margin: 5px;
        background: whitesmoke;
    }
}


@media(max-width:760px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        display: none;
    }
}