.themeButton{
    width: 50px;
    height: 30px;
    background: teal;
    border: 5px whitesmoke solid;
    cursor: pointer;
}
.themeButton2{
    width: 50px;
    height: 30px;
    background: black;
    border: 5px whitesmoke solid;
    cursor: pointer;
}