nav {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*
    // Hamburger logo 
    .hamburger div{
        width: 30px;
        height: 3px;
        margin: 5px;
        background: whitesmoke;
    }
    */
}

nav .logo {
  color: whitesmoke;
}

nav .nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

nav .nav-links ul li {
  padding: 1em;
}

nav .nav-links ul li a {
  text-decoration: none;
  color: whitesmoke;
}

nav .hamburger {
  display: block;
}

@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  nav {
    position: fixed;
    width: 100%;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    top: 5vh;
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    -webkit-transition: 0.8s ease-in;
    transition: 0.8s ease-in;
  }
  .nav-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2.5em;
  }
  .nav-links ul a:hover {
    color: rebeccapurple;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px;
    background: whitesmoke;
  }
  .nav-active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

footer {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

footer .logo {
  color: whitesmoke;
}

footer .contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer .contact-links li {
  padding: 1em;
}

footer .contact-links li a {
  text-decoration: none;
  color: whitesmoke;
}

footer .contact-links li a:hover {
  color: rebeccapurple;
}

footer .copyrighter {
  color: whitesmoke;
}

.blog {
  margin-bottom: 2em;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog h3 {
  font-size: 1.8em;
  text-transform: uppercase;
}

button {
  border: 2px solid rebeccapurple;
  padding: 1em 3em;
}

button:hover {
  background: rebeccapurple;
}

button:hover a {
  color: whitesmoke;
}

button a {
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  background: #fff;
  color: #333;
}

.container {
  width: 80%;
  margin: auto;
}

img {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */